  @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kanit&family=Nunito&display=swap');

  *{
    margin:0;
    padding:0;
  }

#root{
  background-color: rgb(220, 181, 235);
  
}

.header{
  margin:40px auto;
  padding:auto;
}



  h1{
    -webkit-text-stroke: 2px indigo;
    color:rgb(198, 160, 226);
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
    padding: auto 15px;
    margin: 10px 25px 40px 25px;
  
    

  }

  
.boxes-container {
  display: flex;
  flex-direction: column;
  margin:40px auto;
  justify-content: center;
  align-items: center;
  width:100%;
  

}



#editor {
  width: 80%;
  height: 70vh;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(194, 128, 240);
  resize: none;
  border-radius: 10px;
  padding: 20px 40px 10px 10px;
  box-sizing: content-box; 
  margin: 40px auto;
 

   
}

#preview{
  width: 80%;
  height:70vh;
  margin:40px auto;
  font-family: 'Nunito', sans-serif;
  font-size:16px;
  line-height: 2em;
  background-color: rgb(210, 134, 239);
  padding: 40px;
  overflow: auto;
  border-radius: 25px;  
}

img{
  width: 100%;
  
}


.scrollme {
  scrollbar-width: thin;
  scrollbar-color: rgb(230, 152, 236);
  cursor: pointer;
  overflow-y: scroll;


}


.scrollme::-webkit-scrollbar {
  width: 15px;
  
}

.scrollme::-webkit-scrollbar-track {
  background: whitesmoke;
  border-radius: 10px;
  
}

.scrollme::-webkit-scrollbar-thumb {
  background-color:rgb(174, 86, 236);
  border-radius: 20px;
  border: none;
}



@media screen and (min-width: 768px)


 {

  
  .boxes-container{
    flex-direction: row;
    width: 80%
  }

  #editor {
    width: 50%;
    height:70vh;
    margin-right:30px;
  }

  #preview{
    width:50%;
    height: 80vh;
    margin: 0px 0px 0px 30px;
  }


 
}
@media  (max-width: 767px){
#root{
  background-color: rgb(220, 181, 235);
}

  .boxes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }

  #editor {
    width: 70%;
    height:60vh;
    margin: 30px auto;
    
  }

  #preview{
    width:80%;
    height: 80vh;
    margin: 30px auto;
  }



}